@import '../styles/colors';

.tasksBlock {
  width: 370px;

  .taskNameInput {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
    padding: 0 15px;
    background-color: $colorGreyF4;
    color: $colorGrey99;
    outline-color: $colorGrey99;
    border: none;
  }

  .addTaskButton {
    width: 173px;
    height: 55px;
    margin-bottom: 25px;
    background-color: $colorGreen;
    color: #fff;
    border: none;
  }

  .addTaskButton:hover {
    background-color: $colorDarkGreen;
  }

  .tasksList {
    width: 100%;
    margin-bottom: 20px;
  }

  .totalTime {
    color: $colorGrey99;
  }
}
