@import '../styles/sizes';

.page404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - $headerHeight);
  width: 100%;
}

.pomodoroIcon {
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
}
